.home{
    background-image: linear-gradient(180deg, #26366C 0%, #265EB9 100%) !important;
    max-width: 100vw;
    padding: 0;
    margin: 0;
}
h3 > .MuiSvgIcon-root{
    font-size: 15px !important;
    color: #10283F  !important;
    padding: 0 !important;
    margin: 0 !important;
}
h4 > .MuiSvgIcon-root{
    font-size: 15px !important;
    color: #9A9A9A !important;
    padding: 0 !important;
    margin: 0 !important;
}
.blue{
    background: radial-gradient(51.56% 51.56% at 50% 48.44%, #265DB7 0%, #264D99 79.34%, #07327D 98.61%);
}