@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.MuiSvgIcon-root{
    color: #fff !important;
    margin: 0 5px !important
}
.MuiAvatar-root{
    max-width: 35px !important;
    max-height: 35px !important;
    margin-left: 5px;
}
span{
    display: none;
}
a > .MuiSvgIcon-root, li > .MuiSvgIcon-root{
    font-size: 16px !important;
    margin: 0 !important;
    color: #CEBDBD !important;
}
li{
    padding: 3px 0;
}